# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Ignore generated public folder files (but not the folder itself)
client/public/*.cache
client/public/*.map
backend/public/*.cache
backend/public/*.map

# Ignore specific files in the public folder
client/public/*.DS_Store
backend/public/*.DS_Store

# Miscellaneous
*.bak
*.backup
*.tmp
*.lock
*.log